<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include
		resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
	</root>
	<logger name="org.atmosphere" level="INFO" />
	<logger name="org.apache.http.wire" level="INFO" />
	<logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" level="INFO" />
	<logger name="com.vaadin.flow.component.internal.UIInternals" level="INFO" />
	<logger name="com.vaadin.flow.server.communication.UidlWriter" level="INFO" />
</configuration>