/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

vaadin-checkbox {
    font-weight: bold;
}

.storyteller {
	font-weight: bold;
}

.logo {
	margin:10px;
}

.card {
	object-fit: scale-down;
	width: 150px;
    height: 220px;
    border: 2px solid transparent;
}

.card.selectable:hover {
  border: 2px solid black;
}

.messagingArea {
	margin: 10px;
	height: 100vh;
}

.gameArea {
	margin: 10px;
}

#status {
    color: red;
}
